<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoAppSuite" verbose="1">
    <test name="DemoAppTests">
        <classes>
            <!--<class name="com.demo.tests.NavigationTest"/> 
            <class name="com.demo.tests.NotificationTest"/>
            <class name="com.demo.tests.vanillaAndroidTest"/>-->
            <class name="com.demo.tests.AndroidAppTest"/>
        </classes>
    </test>
</suite>
